# Risk Table(Core of Intelligence System)
#Purpose:Early warning system

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\abina\cleaned_ecommerce_sales_2025.csv")

In [4]:
risk_df = df.copy()

In [6]:
risk_df['delivery_risk'] = np.where(risk_df['delivery_days'] > 7, 1, 0)
risk_df['return_risk'] = np.where(risk_df['is_returned'] == 1, 1, 0)
risk_df['rating_risk'] = np.where(risk_df['customer_rating'] < 3, 1, 0)
risk_df['discount_risk']=np.where(risk_df['discount_percent']>30,1,0)

In [7]:
#Risk Score
risk_df['risk_score'] = (
    risk_df['delivery_risk'] +
    risk_df['return_risk'] +
    risk_df['rating_risk'] +
    risk_df['discount_risk']
)

In [9]:
#Risk Level
risk_df['risk_level'] = pd.cut(
    risk_df['risk_score'],
    bins=[-1, 1, 2, 4],
    labels=['LOW','MEDIUM','HIGH']
)

In [10]:
#Final Risk Table
risk_table = risk_df[[
    'order_id',
    'customer_id',
    'product_category',
    'region',
    'net_order_value',
    'risk_score',
    'risk_level'
]]

risk_table

,order_id,customer_id,product_category,region,net_order_value,risk_score,risk_level
0,1,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,Europe,952.0000,1,LOW
1,2,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,North America,246.6600,0,LOW
2,3,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,Oceania,27.3420,2,MEDIUM
3,4,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,Europe,590.2350,2,MEDIUM
4,5,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,Africa,236.9600,1,LOW
...,...,...,...,...,...,...,...
99995,99996,95898eb0-3712-4824-accb-8d40fab73167,Beauty,Europe,1774.2000,1,LOW
99996,99997,960dc639-d199-4aae-a22e-18d4dfc07403,Automotive,North America,336.9800,0,LOW
99997,99998,f9897ea5-454f-43c2-a464-2de35502fe95,Electronics,Asia,800.4600,0,LOW
99998,99999,17d6608f-5c4b-44da-a4ec-f3171120f7bb,Fashion,North America,34.2855,1,LOW
99999,100000,e6f4e3ae-a886-4da4-acbf-992019070b38,Toys,Asia,330.9800,1,LOW

In [11]:
risk_table.to_csv("risk_table.csv",index=False)