#Monthly KPI Table(Business Performance)
##Purpose:Revenue trend,returns,delivery health

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\abina\cleaned_ecommerce_sales_2025.csv")
df.head()

,order_id,order_date,customer_id,product_category,region,payment_method,product_price,quantity,discount_percent,order_value,net_order_value,delivery_days,customer_rating,is_returned
0,1,2023-02-21,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,Europe,Banktransfer,190.40,5,0,952.00,952.000,8,3.8,0
1,2,2023-10-13,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,North America,Creditcard,82.22,3,0,246.66,246.660,5,3.8,0
2,3,2023-06-28,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,Oceania,Cash,15.19,2,10,30.38,27.342,6,2.0,1
3,4,2023-07-11,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,Europe,Paypal,310.65,2,5,621.30,590.235,9,2.9,0
4,5,2023-02-24,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,Africa,Paypal,74.05,4,20,296.20,236.960,3,3.1,1

In [5]:
# Data Preparation
# Convert date
df['order_date'] = pd.to_datetime(df['order_date'])

# Create calculated columns
df['order_value'] = df['product_price'] * df['quantity']
df['net_order_value'] = df['order_value'] * (1 - df['discount_percent'] / 100)

# Extract month
df['month'] = df['order_date'].dt.to_period('M')

In [6]:
monthly_kpi = (
    df.groupby('month')
    .agg(
        total_orders=('order_id', 'count'),
        total_revenue=('net_order_value', 'sum'),
        avg_order_value=('net_order_value', 'mean'),
        return_rate=('is_returned', 'mean'),
        avg_delivery_days=('delivery_days', 'mean')
    )
    .reset_index()
)

monthly_kpi

,month,total_orders,total_revenue,avg_order_value,return_rate,avg_delivery_days
0,2023-01,2864,2.020617e+06,705.522521,0.054818,4.916201
1,2023-02,2482,1.782553e+06,718.192010,0.060435,5.052377
2,2023-03,2818,2.017122e+06,715.799141,0.056068,5.020582
3,2023-04,2675,1.974422e+06,738.101622,0.063551,4.968224
4,2023-05,2854,2.075931e+06,727.376013,0.060967,4.995795
5,2023-06,2816,2.025249e+06,719.193406,0.061790,4.937500
6,2023-07,2825,2.024577e+06,716.664270,0.062301,4.932035
7,2023-08,2839,2.066568e+06,727.921031,0.058471,4.992955
8,2023-09,2732,1.962856e+06,718.468478,0.054539,4.975110
9,2023-10,2849,2.083371e+06,731.263959,0.060021,4.953317
10,2023-11,2709,2.327911e+06,859.324865,0.059801,5.026209
11,2023-12,2861,2.056519e+06,718.811426,0.070605,4.981125
12,2024-01,2776,1.999938e+06,720.438830,0.060159,4.971542
13,2024-02,2557,1.861864e+06,728.143909,0.065311,5.005866
14,2024-03,2811,2.019725e+06,718.507571,0.056208,4.978655
15,2024-04,2687,1.912115e+06,711.616909,0.068850,4.989579
16,2024-05,2787,2.039743e+06,731.877470,0.063868,4.997847
17,2024-06,2675,1.957474e+06,731.766083,0.068411,5.048224
18,2024-07,2772,1.996100e+06,720.093969,0.053391,4.912338
19,2024-08,2884,2.037558e+06,706.504329,0.054785,5.016297
20,2024-09,2767,1.996699e+06,721.611602,0.058909,4.943621
21,2024-10,2746,1.995517e+06,726.699726,0.063365,4.959942
22,2024-11,2832,2.450452e+06,865.272470,0.057203,4.966102
23,2024-12,2782,2.031283e+06,730.152108,0.061107,5.028756
24,2025-01,2864,2.053230e+06,716.909919,0.063547,4.989874
25,2025-02,2585,1.888985e+06,730.748665,0.057253,4.993810
26,2025-03,2809,2.055598e+06,731.790013,0.058740,4.941972
27,2025-04,2779,2.016264e+06,725.535795,0.051817,4.999640
28,2025-05,2906,2.068441e+06,711.782952,0.055747,5.011356
29,2025-06,2750,1.953418e+06,710.333769,0.058909,5.009455
30,2025-07,2792,2.033990e+06,728.506480,0.063037,4.960244
31,2025-08,2873,2.092621e+06,728.374989,0.063000,4.994779
32,2025-09,2730,1.949840e+06,714.227021,0.060440,4.942857
33,2025-10,2886,2.046030e+06,708.950013,0.063756,5.029106
34,2025-11,2774,2.456582e+06,885.573834,0.067772,5.022350
35,2025-12,2852,2.083638e+06,730.588376,0.063464,4.991585

In [5]:
monthly_kpi['total_revenue'].iloc[0]

np.float64(2020616.5015)

In [7]:
pd.options.display.float_format = '{:,.2f}'.format
monthly_kpi

,month,total_orders,total_revenue,avg_order_value,return_rate,avg_delivery_days
0,2023-01,2864,"2,020,616.50",705.52,0.05,4.92
1,2023-02,2482,"1,782,552.57",718.19,0.06,5.05
2,2023-03,2818,"2,017,121.98",715.80,0.06,5.02
3,2023-04,2675,"1,974,421.84",738.10,0.06,4.97
4,2023-05,2854,"2,075,931.14",727.38,0.06,5.00
5,2023-06,2816,"2,025,248.63",719.19,0.06,4.94
6,2023-07,2825,"2,024,576.56",716.66,0.06,4.93
7,2023-08,2839,"2,066,567.81",727.92,0.06,4.99
8,2023-09,2732,"1,962,855.88",718.47,0.05,4.98
9,2023-10,2849,"2,083,371.02",731.26,0.06,4.95
10,2023-11,2709,"2,327,911.06",859.32,0.06,5.03
11,2023-12,2861,"2,056,519.49",718.81,0.07,4.98
12,2024-01,2776,"1,999,938.19",720.44,0.06,4.97
13,2024-02,2557,"1,861,863.98",728.14,0.07,5.01
14,2024-03,2811,"2,019,724.78",718.51,0.06,4.98
15,2024-04,2687,"1,912,114.63",711.62,0.07,4.99
16,2024-05,2787,"2,039,742.51",731.88,0.06,5.00
17,2024-06,2675,"1,957,474.27",731.77,0.07,5.05
18,2024-07,2772,"1,996,100.48",720.09,0.05,4.91
19,2024-08,2884,"2,037,558.48",706.50,0.05,5.02
20,2024-09,2767,"1,996,699.30",721.61,0.06,4.94
21,2024-10,2746,"1,995,517.45",726.70,0.06,4.96
22,2024-11,2832,"2,450,451.64",865.27,0.06,4.97
23,2024-12,2782,"2,031,283.17",730.15,0.06,5.03
24,2025-01,2864,"2,053,230.01",716.91,0.06,4.99
25,2025-02,2585,"1,888,985.30",730.75,0.06,4.99
26,2025-03,2809,"2,055,598.15",731.79,0.06,4.94
27,2025-04,2779,"2,016,263.97",725.54,0.05,5.00
28,2025-05,2906,"2,068,441.26",711.78,0.06,5.01
29,2025-06,2750,"1,953,417.86",710.33,0.06,5.01
30,2025-07,2792,"2,033,990.09",728.51,0.06,4.96
31,2025-08,2873,"2,092,621.34",728.37,0.06,4.99
32,2025-09,2730,"1,949,839.77",714.23,0.06,4.94
33,2025-10,2886,"2,046,029.74",708.95,0.06,5.03
34,2025-11,2774,"2,456,581.82",885.57,0.07,5.02
35,2025-12,2852,"2,083,638.05",730.59,0.06,4.99

In [10]:
monthly_kpi.to_csv("monthly_kpi.csv",index=False)

In [7]:
monthly_kpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              36 non-null     period[M]
 1   total_orders       36 non-null     int64
 2   total_revenue      36 non-null     float64
 3   avg_order_value    36 non-null     float64
 4   return_rate        36 non-null     float64
 5   avg_delivery_days  36 non-null     float64
dtypes: float64(4), int64(1), period[M](1)
memory usage: 1.8 KB