# Category KPI Table(Product Intelligence)
#Purpose : Category profitability & risk

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\abina\cleaned_ecommerce_sales_2025.csv")
df.head()

,order_id,order_date,customer_id,product_category,region,payment_method,product_price,quantity,discount_percent,order_value,net_order_value,delivery_days,customer_rating,is_returned
0,1,2023-02-21,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,Europe,Banktransfer,190.40,5,0,952.00,952.000,8,3.8,0
1,2,2023-10-13,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,North America,Creditcard,82.22,3,0,246.66,246.660,5,3.8,0
2,3,2023-06-28,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,Oceania,Cash,15.19,2,10,30.38,27.342,6,2.0,1
3,4,2023-07-11,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,Europe,Paypal,310.65,2,5,621.30,590.235,9,2.9,0
4,5,2023-02-24,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,Africa,Paypal,74.05,4,20,296.20,236.960,3,3.1,1

In [3]:
category_kpi = (
    df.groupby('product_category')
    .agg(
        total_orders=('order_id', 'count'),
        total_revenue=('net_order_value', 'sum'),
        avg_discount=('discount_percent', 'mean'),
        avg_rating=('customer_rating', 'mean'),
        return_rate=('is_returned', 'mean')
    )
    .reset_index()
)

category_kpi

,product_category,total_orders,total_revenue,avg_discount,avg_rating,return_rate
0,Automotive,14239,1.057548e+07,5.008779,3.484704,0.052742
1,Beauty,14234,1.037215e+07,4.998244,3.505346,0.047773
2,Electronics,14375,1.048870e+07,4.997217,3.498219,0.051270
3,Fashion,14327,1.049730e+07,4.982201,3.509360,0.121658
4,Home,14182,1.036946e+07,5.084614,3.507242,0.051051
5,Sports,14354,1.055772e+07,5.014978,3.495109,0.050509
6,Toys,14289,1.055399e+07,5.017496,3.503499,0.048989

In [4]:
#To display rounded number with decimal value as 2
pd.options.display.float_format = '{:,.2f}'.format
category_kpi

,product_category,total_orders,total_revenue,avg_discount,avg_rating,return_rate
0,Automotive,14239,"10,575,483.38",5.01,3.48,0.05
1,Beauty,14234,"10,372,151.47",5.00,3.51,0.05
2,Electronics,14375,"10,488,698.96",5.00,3.50,0.05
3,Fashion,14327,"10,497,300.79",4.98,3.51,0.12
4,Home,14182,"10,369,460.88",5.08,3.51,0.05
5,Sports,14354,"10,557,715.57",5.01,3.50,0.05
6,Toys,14289,"10,553,989.69",5.02,3.50,0.05

In [5]:
category_kpi.to_csv("category_kpi.csv",index=False)