#Customer KPI Table(Customer Intelligence)
##Purpose:Loyalty & churn risk

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\abina\cleaned_ecommerce_sales_2025.csv")

In [4]:
customer_kpi = (
    df.groupby('customer_id')
    .agg(
        total_orders=('order_id', 'count'),
        total_spend=('net_order_value', 'sum'),
        avg_rating=('customer_rating', 'mean'),
        return_rate=('is_returned', 'mean'),
        avg_delivery_days=('delivery_days', 'mean')
    )
    .reset_index()
)

In [5]:
# Customer Segmentation
customer_kpi['customer_segment'] = pd.cut(
    customer_kpi['total_spend'],
    bins=[-1, 500, 2000, customer_kpi['total_spend'].max()],
    labels=['Low Value', 'Medium Value', 'High Value']
)

customer_kpi

,customer_id,total_orders,total_spend,avg_rating,return_rate,avg_delivery_days,customer_segment
0,00006f38-4c3f-4a8f-8a71-7df4682fca36,1,156.0945,3.1,0.0,6.0,Low Value
1,0000a4ae-e83a-4f1c-982a-4436cbf696c5,1,46.6100,3.3,0.0,4.0,Low Value
2,0000f362-9ef0-4399-90cf-749ae197f06b,1,415.2600,3.8,0.0,7.0,Low Value
3,0001d9cf-1d0f-488f-83ef-ca4cbc87edbf,1,377.9100,3.0,1.0,2.0,Low Value
4,0001eff8-1d46-4299-9c9f-d280e58aafcd,1,1456.5400,4.5,0.0,8.0,Medium Value
...,...,...,...,...,...,...,...
99995,fffcd743-e3f1-4406-a31d-9c8be0f0fe79,1,621.0780,2.5,0.0,9.0,Medium Value
99996,fffcff63-7bf3-48f5-a24b-31d72e5c58ad,1,76.2800,3.0,0.0,1.0,Low Value
99997,fffd2ac5-8af4-46bb-87fa-047b8c9a208a,1,925.9110,2.3,1.0,9.0,Medium Value
99998,fffdc4cd-0954-4d38-be20-cbf2d321f945,1,692.6700,2.4,0.0,2.0,Medium Value
99999,fffdc8dd-6f6f-4b2f-9fcd-57b67e1e6980,1,751.3800,3.0,0.0,9.0,Medium Value

In [6]:
customer_kpi.to_csv("customer_kpi.csv",index=False)